<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restaurante Guiness - Pedidos</title>
</head>
<body>
    <h2>Adicionar Pedido</h2>
    <form th:action="@{/adicionarPedido}" method="post" th:object="${pedido}">
        <div>
            <label>Mesa:</label>
            <input type="number" th:field="*{mesa}" required />
        </div>
        
        <div>
            <label>Pedido:</label>
            <input type="text" th:field="*{pedido}" required />
        </div>

        <button type="submit">Realizar Pedido</button>

        <div>
            <h3>___________________</h3>
            <h3>Todos os Pedidos:</h3>
            <table>
                <thead>
                    <tr>
                        <th>Número da Mesa</th>
                        <th>Descrição do Pedido</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pedido : ${listpedidos}">
                        <td th:text="${pedido.mesa}"></td>
                        <td th:text="${pedido.pedido}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </form>


    <a th:href="@{/home}">Voltar para Mesas</a>
</body>
</html>